select{ 
	position: relative;
	align-self: center;
	width: 400px;
	text-align: center;
 }
#options{
	align-items: center;
	text-align: center;
}

#container{
	align-items: center;
	text-align: center;
	position: relative;
}
#divText{
	align-items: center;
	position: relative;
	text-align: center;
}

table{
	position: relative;
	margin: auto;
}